{% extends "layout.html" %}

{% block javascript %}
<script type="text/javascript">
    $(function() {
        $('#current_poll').load('/polls/current');
    });
</script>
{% endblock %}

{% block outside_hero %}
<div style="text-align : center;">
    <h2>Text your vote to the number below (e.g. '1', '2', or '3')</h2>
    <h1 style="font-size : 54px;">(216) 744-1335</h1>
    <br />
    <br />
</div>
{% endblock %}
{% block content %}
<div id="current_poll" style="height : 400px">Loading Poll...</div>
{% endblock %}